
* {
    font-family: 'Roboto_Condensed';
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}


.navbar {
    position: fixed;
    top: -5px;
    left: 0px;
    right: 0px;
}



.nav-logo img {
    width: 150px;
    height: 150px;
}

ul li {
    list-style: none;
}

a {
    font-size: 20px;
}

a.nav-link:hover {
    background-color: rgb(74, 252, 252);
    transition: 1s;
    border-radius: 10px;
}

a:hover {
    transition: 1s;
}

.b {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(65, 179, 163);
}

.al button {
    border: none;
}


footer p {
    font-size: 20px;
}

.project {
    background-color: rgba(43, 35, 78, 0.795);
}

#client-rev {
    background-color: rgb(160, 97, 3);
}


.carousel-item {
    padding: 5% 15%;
    text-align: center;
    font-style: italic;
}

.img-section2 {
    background-color: rgba(89, 132, 182, 0.753);
}

.img1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.hr {
    width: 50%;
    margin: 0 auto;
    border: 5px double rgb(254, 255, 255);
}

.progress {
    margin-top: 10px;
}


#p1 {
    width: 95%;
}

#p2 {
    width: 80%;
}

#p3 {
    width: 90%;
}

#p4 {
    width: 70%;
}

#p5 {
    width: 75%;
}

#p6 {
    width: 60%;
}

#p7 {
    width: 80%;
}

#p8 {
    width: 80%;
}

#p9 {
    width: 80%;
}

#p10 {
    width: 80%;
}

#p11 {
    width: 70%;
}

#p12 {
    width: 95%;
}

